# Ignore environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor specific files
.DS_Store
.vscode/
.idea/
*.swp
Icon?

# Optional: Ignore production builds (in case you ever build frontend or backend locally)
client/build/
server/dist/
